

<table class="table">
<thead>
  <tr>
    <th scope="col">Project</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Link</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>I bit a lemon</td>
    <td>still bitter...</td>
   <td> <a href="http://localhost:3000/projects/1" class="link-primary">Go to Project</a></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>numba 2</td>
    <td>woohoo 2 things</td>
    <td> <a href="http://localhost:3000/projects/2" class="link-primary">Go to Project</a></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>bum bum bum</td>
    <td>another one ...</td>
    <td> <a href="http://localhost:3000/projects/3" class="link-primary">Go to Project</a></td>
  </tr>
</tbody>
</table>





<p class="font-weight-bold">ABOUT ME</p>
<p class="text-left">My name is Kevin. I am a junior Computer Engineering student. Please enjoy my portfolio!</p>